@import "variables";

// GENERAL LAYOUT
// ******************************************************

// Backgrounds
.sms-bg-primary {
  background: $color-sms-primary;
}
.sms-bg-primary-light {
  background: $color-sms-primary-light;
}
.sms-bg-white-hover {
  background: $color-sms-white-hover;
}

.sms-bg-contrast {
  background: $color-sms-contrast;
}

.sms-bg-white {
  background: $color-sms-white;
}

.sms-bg-front-fullscreen {
  background-image: url($sms-img-path-marvel-heroes-2);
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Borders
.sms-border-white {
  border: 1px solid $color-sms-white;
}



// Margins
.mb-neg-05 {
  margin-bottom: -.5rem;
}

// Width / Height




// SPECIAL ELEMENTS
// ******************************************************

// Sms logotype
.sms-logo {
  font-size: 1.2rem;
}
@include media-breakpoint-up(sm) {
  .sms-logo {
    font-size: 1.4rem;
  }
}
.sms-logo-footer {
  width: 50px;
}

