@import "variables";

.sms-link-dark-bg {
  color: $color-sms-white;
  &:hover {
    color: $color-sms-white-hover;
    text-decoration: none;
  }
  &:active {
    color: $color-sms-contrast;
  }
}

// Fontawesome

.fa-18x {
  font-size: 1.8rem;
}
.fa-15x {
  font-size: 1.5rem;
}
.fa-12x {
  font-size: 1.2rem;
}

// Font weights
.ftw-200 {
  font-weight: 200;
}
.ftw-600 {
  font-weight: 600;
}