@import "variables";

// TYPOGRAPHY
// ******************************************************

// Links
.sms-link-dark-bg {
  color: $color-sms-white;
  &:hover {
    color: $color-sms-white-hover;
    text-decoration: none;
  }
  &:active {
    color: $color-sms-contrast;
  }
}

//TODO: länkarna i footer ska definieras med en sån här länkklass istället för i _footer.scss. Och även textfärgen.

// Text colors
.text-color-primary-light {
  color: $color-sms-primary-light;
}
.text-color-white {
  color: $color-sms-white;
}
.text-color-white-hover {
  color: $color-sms-white-hover;
}

// Font size
.fs-18x {
  font-size: 1.8rem;
}
.fs-15x {
  font-size: 1.5rem;
}
.fs-12x {
  font-size: 1.2rem;
}
.fs-08x {
  font-size: .8rem;
}
.fs-06x {
  font-size: .6rem;
}

// Font weights
.ftw-200 {
  font-weight: 200;
}
.ftw-600 {
  font-weight: 600;
}

