// VARIABLES
// ******************************************************

// COLORS
// ------------------------------------------------------
$c-light-beige: #fefbdc;
$c-blue: #44708b;
$c-dark-blue: #1f3540;
$c-gold: #826624;
$c-green: #3a6f67;
$c-dark-green: #034c3b;
$c-pink: #f2aab8;
$c-dark-pink: #982149;
$c-black: #000000;
$c-text: #4c4c4c;
$c-white: #ffffff;
//

// MIXIN COLORS
// ------------------------------------------------------
$mx-white-bg: $c-white;
$mx-white-color: $c-text;
$mx-white-header-color: $c-black;
$mx-white-link-color: $c-gold;

$mx-black-bg: $c-black;
$mx-black-color: $c-white;
$mx-black-header-color: $c-white;
$mx-black-link-color: lighten($c-gold, 20%);

$mx-light-beige-bg: $c-light-beige;
$mx-light-beige-color: $c-dark-blue;
$mx-light-beige-header-color: $c-dark-pink;
$mx-light-beige-link-color: $c-dark-pink;

$mx-dark-blue-bg: $c-blue;
$mx-dark-blue-color: $c-white;
$mx-dark-blue-header-color: $c-light-beige;
$mx-dark-blue-link-color: $c-pink;
//

// TYPOGRAPHY
// ------------------------------------------------------
$font-family-sans-serif: 'Cabin', sans-serif;
$headings-font-family: 'Cabin', sans-serif;
$headings-font-weight: 700;
//

