// VARIABLES
// ******************************************************

// COLORS
// ******************************************************

// Main colors

$color-sms-black: rgb(44, 53, 49);
$color-sms-white: rgb(255, 255, 255);
$color-sms-green: rgb(63, 155, 53);
$color-sms-red: rgb(255, 28, 75);
$color-sms-blue: rgb(17, 100, 102);
$color-sms-beige: rgb(233, 203, 154);
$color-sms-dark-beige: rgb(179, 156, 140);
$color-sms-light-blue: rgb(209, 232, 226);




$color-sms-blue-light-20: lighten($color-sms-blue, 20%);
$color-sms-blue-light-40: lighten($color-sms-blue, 40%);
$color-sms-blue-rgba-trans: rgba($color-sms-blue, 0.5);
$color-sms-blue-light-rgba-trans: rgba($color-sms-blue-light-20, 0.5);
$color-sms-light-blue-light-20: lighten($color-sms-light-blue, 20%);
$color-sms-light-blue-light-40: lighten($color-sms-light-blue, 40%);
$color-sms-light-blue-rgba-trans: rgba($color-sms-light-blue, 0.5);
$color-sms-light-blue-light-rgba-trans: rgba($color-sms-light-blue, 0.5);
$color-sms-beige-light-20: lighten($color-sms-beige, 20%);
$color-sms-beige-rgba-trans: rgba($color-sms-beige, 0.5);
$color-sms-dark-beige-light-20: lighten($color-sms-dark-beige, 20%);
$color-sms-blue-hover: $color-sms-blue-light-20;
$color-sms-blue-active: $color-sms-beige;
$color-sms-blue-disabled: $color-sms-dark-beige;
$color-sms-white-hover: $color-sms-dark-beige;
$color-sms-white-active: $color-sms-beige;
$color-sms-white-disabled: $color-sms-dark-beige;

// Color variables
$color-sms-primary: $color-sms-blue;
$color-sms-primary-hover: lighten($color-sms-primary, 20%);
$color-sms-primary-hover-trans: rgba($color-sms-primary-hover, 0.5);
$color-sms-primary-hover-light: lighten($color-sms-primary, 40%);


$color-sms-contrast: $color-sms-light-blue;
$color-sms-contrast-hover: $color-sms-light-blue-light-20;
$color-sms-contrast-rgba-trans: $color-sms-light-blue-rgba-trans;

// TYPOGRAPHY
// ******************************************************
$font-family-sans-serif: 'Muli', sans-serif;

$headings-font-family: 'Muli', sans-serif;
$headings-font-weight: 900;
$headings-color: $color-sms-primary;

$link-color: $color-sms-primary;
$link-hover-color: $color-sms-primary-hover;

// BOOTSTRAP
// ******************************************************

// Bootstrap overrides
$navbar-dark-color: $color-sms-white;
$navbar-dark-hover-color: $color-sms-white-hover;
$navbar-dark-active-color: $color-sms-white-active;
$navbar-dark-disabled-color: $color-sms-white-disabled;
$navbar-dark-toggler-border-color: transparent;

$navbar-light-color: $color-sms-black;
$navbar-light-hover-color: $color-sms-blue-hover;
$navbar-light-active-color: $color-sms-blue-active;
$navbar-light-disabled-color: $color-sms-blue-disabled;
$navbar-light-toggler-border-color: transparent;

// IMAGE PATHS
// ******************************************************

// Shield in logo
$sms-img-path-logo-shield: "../images/shield.svg";

// Front page background
$sms-img-path-marvel-heroes-2: "../images/bg-marvel-heroes-2.jpg";



