@import "helpers/variables";

button,
 input[type="button"],
 input[type="reset"],
 input[type="submit"] {
   -moz-appearance: none;
   -webkit-appearance: none;
 }

a {
  text-decoration: underline;
}