@import "variables";

// TYPOGRAPHY
// ******************************************************

// Header sizes
// Links

// Header sizes
@include media-breakpoint-down(md) {
  h1 {
    font-size: 2.15rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1.15rem;
  }
}
@include media-breakpoint-down(sm) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.15rem;
  }
  h5 {
    font-size: 1rem;
  }
}

// Links
a {
  text-decoration: underline;
}

