@import "../helpers/variables";

.sms-btn-outline-contrast {
  color: $color-sms-contrast;
  background-color: transparent;
  background-image: none;
  border-color: $color-sms-contrast;
  border-radius: 0;
}
.sms-btn-outline-contrast:hover {
  color: $color-sms-primary;
  background-color: $color-sms-contrast;
  border-color: $color-sms-contrast;
}
.sms-btn-outline-contrast:focus, .sms-btn-outline-contrast.focus {
  box-shadow: 0 0 0 0.2rem $color-sms-contrast-rgba-trans;
}
.sms-btn-outline-contrast.disabled, .sms-btn-outline-contrast:disabled {
  color: $color-sms-contrast;
  background-color: transparent;
}
.sms-btn-outline-contrast:not(:disabled):not(.disabled):active, .sms-btn-outline-contrast:not(:disabled):not(.disabled).active, .show > .sms-btn-outline-contrast.dropdown-toggle {
  color: $color-sms-primary;
  background-color: $color-sms-contrast;
  border-color: $color-sms-contrast;
}
.sms-btn-outline-contrast:not(:disabled):not(.disabled):active:focus, .sms-btn-outline-contrast:not(:disabled):not(.disabled).active:focus, .show > .sms-btn-outline-contrast.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $color-sms-contrast-rgba-trans; }
