@import "../helpers/variables";
@import "../helpers/mixins";

.sms-navbar-main {
  @include bg-text-colors__white;
  &.start-page {
    a {
      color: $c-black;
      text-decoration: none;
    }
  }

}

// Main navbar logo
.sms-logo {
  font-size: 1rem;
  font-weight: 700;
  p {
    margin-top: -.5rem;
  }
  &.start-page {
    text-align: center;
  }
  object {
    width: 40px;
    margin-bottom: 0;
  }
}
@include media-breakpoint-up(sm) {
  .sms-logo {
    font-size: 1.5rem;
    object {
      width: 50px;
    }
  }
}



.login-dropdown {
  label {
    color: $c-white;
  }
  .dropdown-menu {
    background: transparent;
    border: none;
  }
}



@include media-breakpoint-up(lg) {
  .login-dropdown {
    .dropdown-menu {
      background: $c-gold;
      left: -160px;
      padding: 2rem;
      width: 300px;
    }
  }
}



