@import "../helpers/variables";

.sms-navbar-main {
  .navbar {
    padding: 0.5rem 0;
  }
}

.navbar-brand {
  margin-right: 2rem;
}
@include media-breakpoint-up(sm) {
  .navbar-brand {
    margin-right: 5rem;
  }
}

.login-dropdown {
  label {
    color: $color-sms-white;
  }
  .dropdown-menu {
    background: transparent;
    border: none;
  }
}

@include media-breakpoint-up(lg) {
  .login-dropdown {
    .dropdown-menu {
      background: $color-sms-primary-hover-lighter;
      left: -160px;
      padding: 2rem;
      width: 300px;
    }
  }
}



