@import "../helpers/variables";

// NAVBAR TOP
// ******************************************************

.sms-navbar-top {
  min-height: 50px;
  color: $color-sms-white;
  border-bottom: 1px solid $color-sms-dark-beige;
}
